body {
    background-color: #273043;
    color: #fff
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-right: 16px
}

:focus {
    outline: 0
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    position: relative
}

h1 {
    text-align: center
}

.password-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}

#length {
    width: 20%;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    border: none
}

#password {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    border: none;
    cursor: default
}

button {
    width: 25%;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff
}

button:hover {
    cursor: pointer;
    background-color: #0062cc
}

#copy-btn {
    width: 25%;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    margin-right: 0;
    display: inline-block
}

#copy-btn:hover {
    cursor: pointer;
    background-color: #0062cc
}